@model IEnumerable<Product>



@foreach (var p in Model)
{
        <h1>@p.Name</h1> 
        <img src="@p.ImagePath" width="500" />
        <h2>@p.Description</h2>
        <b>@p.Cost.ToString("c")</b>
        <a class="btn btn-primary" role="button" href="/Cart/add?productId=@p.Id">Добавить в корзину</a>
        
    

 }


<p><a href="/Home/Index">Продолжить покупку </a></p>

