@model IEnumerable<Product>



@foreach (var p in Model)
{
        <h1>@p.Name</h1> 
        <img src="~/Images/Image_Shoes.jpg" width="500" height="200"/>
        <h2>@p.Description</h2>
        <b>@p.Cost.ToString("c")</b>
        <a class="btn btn-primary" role="button" href="">Добавить в корзину</a>
        
    

 }


<p><a href="/Home/Index">Продолжить покупку </a></p>

