@model Cart

    <div class="row">
        <div class="col">
            <label>Имя</label>
            <div>
                <input type="text" />
            </div>
            <label>Номер телефона</label>
            <div>
                <input type="text" />
            </div>
            <label>Адрес доставки</label>
            <div>
                <input type="text" />
            </div>
        </div>
    </div>
    <br>
    <p> <a style="margin-left:50%" class="btn btn-success" role="button" href="/Order/Buy">Перейти к оплате</a> </p>
