@model Cart

<form method="post">
    <div class="row">
        <div class="col">
            <label>Имя</label>
            <div>
                <input type="text" name="name" />
            </div>
            <label>Номер телефона</label>
            <div>
                <input type="text" name="phone" />
            </div>
            <label>Адрес доставки</label>
            <div>
                <input type="text" name="address" />
            </div>
        </div>
    </div>
    <br>
    <p><button type="submit" class="btn btn-success" asp-controller="Order" asp-action="Buy">Перейти к оплате</button></p>
</form> 