@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<Product>;

@foreach (var p in Model)
{
    <div>
        @p.Id
        @p.Name
        @p.Cost.ToString("c")
        @p.Description
        <p></p>
    </div>

}