@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<Product>;

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-3 card ">
            <img height="150" src="@p.ImagePath" />
            <a style="color:black" href="/Product/Index/@p.Id">@p.Name</a>
            @p.Cost.ToString("c")
            <p> <a class="btn btn-primary" role="button" href="/Cart/add?productId=@p.Id">Добавить в корзину</a> </p>
            <p><a href="/Home/AddToComparison?productId=@p.Id">В сравнение</a></p>
        </div>
      
    }
</div>