@model decimal

<p>  <a style="margin-left:550px" class="btn btn-dark" role="button" href="/Cart/Index"><img src="~/Images/cart.jpg" width="40">
    Перейти в корзину
    @if (Model != 0)
    {@Model}
     </a> 
</p>s